@import '../modules/variables';
@import '../modules/responsive';

.characterForm {
  border: 1px solid #121212;
  padding: 28px;
  border-radius: 5px;
  background-color: #1e1e1e;
  .input-select {
    width: 100%;
  }
  .upload-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 40px;
    .avatar-uploader {
      color: $white;
    }
    .avatar-uploadText {
      color: $white;
      text-align: center;
      margin-top: 15px;
    }
    .avatar-icon {
      color: $white;
      font-size: 40px;
    }
    .input-option:hover {
      background-color: $purple;
    }
  }
  .characterForm-border {
    border: none;
    height: 1px;
    background-color: #595959;
  }
  .btnCreate {
    margin-top: 20px;
  }
}

.avatar-uploader > .ant-upload {
  width: 200px;
  height: 200px;
}

.ant-upload.ant-upload-select-picture-card {
  background-color: transparent;
  border-color: #595959;
  &:hover {
    border-color: $purple;
  }
}

@include media-breakpoint-down($desktop-width) {
  .characterForm {
    .upload-container {
      padding-left: 0;
    }
  }
}
