@import '../modules/variables';
@import '../modules/responsive';

.head-title {
  margin-bottom: 0.2rem;
}

.characterForm {
  border: 1px solid #121212;
  padding: 2.8rem;
  border-radius: 0.3125rem;
  background-color: #1e1e1e;
  .input-tags {
    width: 100%;
  }
  .input-select {
    width: 17rem;
  }
  .characterForm-border {
    border: none;
    height: 0.0625rem;
    background-color: #595959;
  }
  .btnCreate {
    margin-top: 2rem;
  }
}

.avatar-uploader > .ant-upload {
  width: 20rem;
  height: 20rem;
}

.ant-upload.ant-upload-select-picture-card {
  background-color: transparent;
  border-color: #595959;
  &:hover {
    border-color: $purple;
  }
}

@include media-breakpoint-down($desktop-width) {
  .characterForm {
    .upload-container {
      padding-left: 0;
    }
  }
}
