$purple-color: #722ed1;

@mixin purple-border {
  border: none;
  border-top: 2px solid $purple-color;
}

.header-root {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.4);
  flex: 1;
  .header-col:last-child {
    padding-left: 150px;
  }
  .header-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header-logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      .header-logo-title {
        color: #ffffff;
        margin: 0;
      }
      .header-logo-menu {
        color: #ffffff;
        font-size: 20px;
        padding: 20px 28px;
        cursor: pointer;
        margin-left: 20px;
      }
      .header-logo-menu:hover {
        background: rgba(255, 255, 255, 0.04);
      }
    }
    .header-search-container {
      width: 461px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .header-search-icon {
        color: #ffffff;
        padding: 0 5px;
      }
      .header-search-input {
        border: none;
        background-color: transparent;
        color: #ffffff;
        font-size: 17px;
        &:focus {
          border: none;
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }
    .header-menu {
      border: none;
      text-align: right;
      line-height: 60px;
      .header-menu-item {
        color: #ffffff;
      }
      :hover {
        @include purple-border();
        color: $purple-color;
      }
    }
  }
}

.ant-menu-item-selected {
  border-top: 2px solid $purple-color;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  @include purple-border();
}

.ant-menu-horizontal > .ant-menu-item {
  border-bottom: none;
}
