@import '../modules/variables';
@import '../modules/responsive';

$header-height: 60px;

@mixin purple-border {
  border: none;
  border-top: 2px solid $purple;
}

.header-root {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.4);
  flex: 1;
  max-height: $header-height;
  background-color: $background-color;
  .header-col:last-child {
    padding-left: 150px;
  }
  .header-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.header-menu {
  border: none;
  text-align: right;
  line-height: 60px;
  .header-menu-item {
    color: $white;
  }
  .header-menu-item:hover {
    @include purple-border();
    color: $purple;
  }
  background: inherit;
}

.header-search-container {
  width: 461px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .header-search-icon {
    color: $white;
    padding: 0 5px;
  }
  .header-search-input {
    border: none;
    background-color: inherit;
    color: $white;
    font-size: 17px;
    &:focus {
      border: none;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.header-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .header-logo-title {
    color: $white;
    margin: 0;
    font-size: 17px;
    .header-logo-link {
      color: $white;
      text-decoration: none;
    }
  }
  .header-logo-menu {
    color: $white;
    font-size: 20px;
    padding: 20px 28px;
    margin-left: 20px;
  }
  .header-logo-menu:hover {
    background: rgba(255, 255, 255, 0.04);
    cursor: pointer;
  }
}

.menu-bar-icon {
  display: none;
  color: $white;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: $purple;
  }
}

.header-menu-dropdown {
  display: none;
  width: 250px;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  .header-menu-item:hover {
    background-color: $light-purple;
    color: $white;
  }
}

.caret-up-icon {
  color: $white;
  position: absolute;
  top: 40.5px;
  font-size: 30px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: $light-purple;
  border-right: $purple;
}

.ant-menu-item-selected {
  border-top: 2px solid $purple;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  @include purple-border();
}

.ant-menu-horizontal > .ant-menu-item {
  border-bottom: none;
}

.ant-menu-inline {
  border-right: none;
}

@include media-breakpoint-down($desktop-width) {
  .header-search-input {
    display: none;
  }
  .header-search-icon {
    display: none;
  }
  .header-root {
    .header-col:last-child {
      padding: 0;
    }
  }
}

@include media-breakpoint-down($phone-width) {
  .header-menu {
    display: none;
  }
  .menu-bar-icon {
    display: block;
  }
  .header-menu-dropdown {
    display: block;
  }
}
